:root {
    --white: #FEFEFE;
    --black: #0A0A0A;
}

img{
    max-width: 100%;
    height: auto;
}

html{
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

body {
    margin: 0 0 0 0;
    padding: 5px 5px 5px 5px;
    background-color: var(--white);
    overflow-wrap: break-word;
    word-break: break-all;
}

nav {
    font-weight: 600;
    font-size: 1.3em;
}

main{
    font-family: 'Source Code Pro', monospace;
}

h1, h2, h3, h4, h5, h6, a{
    font-family: sans-serif;
}

a:link, article a:visited, article a:hover, article a:active {
    color: var(--black);
}

h1:before {
    content: "# ";
}

h2:before {
    content: "## ";
}

h3:before {
    content: "### ";
}

h4:before {
    content: "#### ";
}

h5:before {
    content: "##### ";
}

h6:before {
    content: "###### 
";
}


#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
